body, html {
    margin: 0;
  }
  
  html {
    height: 100%;
  }
  
h1{
  padding-left: 20px;
}
 
canvas{
  margin-left: 10px;
}


button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 25px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  height: 60px;
  width: 150px;
  margin-left: 230px;
}

button:hover {
  background-color: #fff;
}



